[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	unstage = reset HEAD --
[user]
	name = Gian Biondi
	email = biondimeister@gmail.com
[core]
	editor = nvim
	autocrlf = input
	excludesfile = /Users/gianfrancob/.gitignore_global
[push]
	default = simple
[merge]
	ff = true
[pull]
	rebase = false
[url "git@github.com:"]
    insteadOf = "https://github.com/"
[http]
	proxy = http://g0b00i2@proxy-intlho.wal-mart.com:8080
[credential]
	helper = osxkeychain
